<table id="document">
  <tr>
    <td id="logo">
      <%= image_tag Spree::PrintInvoice::Config[:print_invoice_logo_path].sub('public/images/', '') %>
    </td>
    <td class="right">
        <h3><%= Spree.t(:packaging_slip, :scope => [:printinvoice]) %></h3>
      <% else %>
        <h3><%= Spree.t(:customer_invoice, :scope => [:printinvoice]) %></h3>
      <p id="order_number">
        <%= "#{Spree.t(:order_number)} #{@order.number}" %><br />
        <%=
          # Disabling Email for now
          #@order.email
        %>
      </p>
      <p>
        <%= Spree.l @order.completed_at.to_date unless @order.completed_at.nil? %>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%
        bill_address = @order.bill_address
        ship_address = @order.ship_address
        # shipping_method = @order.shipping_method
        anonymous = @order.email =~ /@example.net$/
      %>
      <table id="address" class="with_border" cellspacing="0">
        <tr>
          <th><%= Spree.t(:billing_address) %></th>
          <th><%= Spree.t(:shipping_address) %></th>
        </tr>
        <tr>
          <td>
            <p>
            <% unless anonymous and Spree::PrintInvoice::Config[:suppress_anonymous_address] %>
              <%= "#{bill_address.firstname} #{bill_address.lastname}" %><br />
              <%= bill_address.address1 %>
              <%= bill_address.address2 %><br />
              <%= "#{@order.bill_address.zipcode} #{@order.bill_address.city}  #{(@order.bill_address.state ? @order.bill_address.state.abbr : "")} " %><br />
              <%= bill_address.country.name %><br />
              <%= bill_address.phone %><br />
            <% end %>
            </p>
          </td>
          <td>
            <p>
            <% unless anonymous and Spree::PrintInvoice::Config[:suppress_anonymous_address] %>
              <%= "#{ship_address.firstname} #{ship_address.lastname}" %><br />
              <%= ship_address.address1 %>
              <%= ship_address.address2 %><br />
              <%= "#{@order.ship_address.zipcode} #{@order.ship_address.city} #{(@order.ship_address.state ? @order.ship_address.state.abbr : "")}" %><br />
              <%= ship_address.country.name %><br />
              <%= ship_address.phone %><br />
              <% # "Shipping method: #{shipping_method.name}" if shipping_method %>
            <% end %>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="line_items" class="with_border" cellspacing="0">
        <tr>
          <th><%= Spree.t(:sku) %></th>
          <th><%= Spree.t(:item_description) %></th>
          <%== "<th class=\"right\">#{Spree.t(:price)}</th>" unless @hide_prices %>
          <th class="right"><%= Spree.t(:qty) %></th>
          <%== "<th class=\"right\">#{Spree.t(:total)}</th>" unless @hide_prices %>
        </tr>
        <% @invoice.items.each_with_index do |item, index| %>
          <tr id="<%= "col_#{index}" %>" class="col <%= (index.odd?) ? "odd" : "even" %>">
            <td><%= item.variant.product.sku %></td>
            <td><%= item.variant.product.name %></td>
            <%== "<td class=\"right\">#{number_to_currency(item.price)}</td>" unless @hide_prices %>
            <td class="right"><%= item.quantity %></td>
            <%== "<td class=\"right\">#{number_to_currency(item.price * item.quantity)}</td>" unless @hide_prices %>
          </tr>
        <% end %>
        <% unless @hide_prices %>
          <tr id="summary">
            <td colspan="4">
              <p>
                <%= Spree.t(:subtotal) %><br />
                <% @invoice.adjustments.each do |charge| %>
                  <%= charge.label %><br />
                <% end %>
                <%= Spree.t(:order_total) %>
              </p>
            </td>
            <td>
              <p>
                <%= number_to_currency(@invoice.subtotal) %><br />
                <% @invoice.adjustments.each do |charge| %>
                  <%= number_to_currency(charge.amount) %><br />
                <% end %>
                <%= number_to_currency(@invoice.total) %>
              </p>
            </td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>